:host {
    .provider-list {
        .provider-item {
            padding: 5px;
            &+.add-provider,
            &+.provider-item {
                margin-top: 10px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}