<div *ngIf="loadingCount > 0">
    <span>Requesting {{loadingCount}} services...</span>
</div>
<div class="provider-list">
    <div class="provider-item" *ngFor="let provider of providers" (click)="selectProvider(provider)" [ngClass]="{'selected': isSelected(provider)}">
        <div>{{provider.label}}</div>
        <div class="small">{{provider.type}}, {{provider.version}}
        </div>
        <div class="small">{{provider.url}}</div>
        <div class="small" *ngIf="provider.serviceUrl">{{'provider-selector.service-url' | translate}}: {{provider.serviceUrl}}</div>
        <div class="small">
            <span *ngIf="provider.quantities.stations">{{'provider-selector.stations' | translate}}: {{provider.quantities.stations}}</span>
            <span *ngIf="provider.quantities.platforms">{{'provider-selector.platforms' | translate}}: {{provider.quantities.platforms}}</span>
            <span *ngIf="provider.quantities.timeseries">{{'provider-selector.timeseries' | translate}}: {{provider.quantities.timeseries}}</span>
            <span *ngIf="provider.quantities.datasets">{{'provider-selector.datasets' | translate}}: {{provider.quantities.datasets}}</span>
            <span>{{'provider-selector.phenomena' | translate}}: {{provider.quantities.phenomena}}</span>
        </div>
    </div>
</div>