<div *ngFor="let favorite of favorites">
  <div (click)="favorite.show = !favorite.show">
    <span>ID: </span>
    <span>{{favorite.id}}</span>
  </div>
  <div (click)="changeLabelName(favorite); $event.stopPropagation();">
    <span>Label: </span>
    <span>{{favorite.label}}</span>
  </div>
  <hr>
  <div style="height: 300px;">
    <n52-flot-timeseries-graph [datasetIds]="[favorite.favorite.internalId]" [datasetOptions]="favorite.option" [timeInterval]="favorite.timespan"
      (onLoading)="favorite.loading = $event"></n52-flot-timeseries-graph>
  </div>
  <hr>
</div>

<button mat-raised-button color="primary" (click)="export()">Export</button>
<input type="file" (change)="import($event)" placeholder="Upload file" accept=".json">
