<div style="height: 700px;">
    <div style="display: flex; flex-direction: row; height: 100%;">
        <div style="width: 50%; padding: 5px;">
            <n52-ol-map [mapId]="mapId" [zoom]="6" [lat]="51.2" [lon]="9.5" [showZoomControl]="false"
                [showAttributionControl]="false">
                <n52-ol-layer *ngFor="let layer of layers" [layer]="layer"></n52-ol-layer>
                <n52-ol-station-selector-layer [serviceUrl]="'https://fluggs.wupperverband.de/sos2/api/v1/'"
                    [zoomToResult]="false" (onSelected)="stationSelected($event)">
                </n52-ol-station-selector-layer>
                <n52-ol-station-selector-layer [serviceUrl]="'http://geo.irceline.be/sos/api/v1/'" [cluster]="false"
                    [zoomToResult]="false" (onSelected)="stationSelected($event)">
                </n52-ol-station-selector-layer>
                <n52-ol-overview-map [collapsible]="true" [layers]="overviewMapLayers" position="bottomright"></n52-ol-overview-map>
            </n52-ol-map>
        </div>
        <div style="width: 50%; padding: 5px;">
            <div *ngFor="let layer of layers; let i = index">
                <div style="margin: 5px; padding: 5px; border: 1px solid grey;">
                    <div>
                        <n52-ol-layer-title [layer]="layer"></n52-ol-layer-title>
                        <span class="fa fa-times" (click)="removeLayer(i)"></span>
                    </div>
                    <div>
                        <n52-ol-layer-abstract [layer]="layer"></n52-ol-layer-abstract>
                    </div>
                    <div>
                        <span>Visibility:</span>
                        <n52-ol-layer-visibility-toggler [layer]="layer"></n52-ol-layer-visibility-toggler>
                    </div>
                    <div>
                        <span>Opacity:</span>
                        <n52-ol-layer-opacitiy-slider [layer]="layer"></n52-ol-layer-opacitiy-slider>
                    </div>
                    <div>
                        <n52-ol-layer-time-selector [layer]="layer"></n52-ol-layer-time-selector>
                    </div>
                    <div>
                        <n52-ol-layer-animate-time [layer]="layer"></n52-ol-layer-animate-time>
                    </div>
                    <div>
                        <n52-ol-layer-zoom-extent [layer]="layer" [mapId]="mapId"></n52-ol-layer-zoom-extent>
                    </div>
                    <div>
                        <n52-ol-layer-legend-url [layer]="layer" (legendUrl)="getLegendUrl($event)">
                        </n52-ol-layer-legend-url>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="height: 500px;">
    <div style="display: flex; flex-direction: row; height: 100%;">
        <div style="width: 50%; padding: 5px;">
            <n52-ol-map [zoom]="13" [lat]="51.95" [lon]="7.65" [showZoomControl]="true" [showAttributionControl]="true">
                <n52-ol-overview-map [collapsible]="false" [layers]="overviewMapLayers"></n52-ol-overview-map>
                <n52-ol-mouse-position></n52-ol-mouse-position>
            </n52-ol-map>
        </div>
        <div style="width: 50%; padding: 5px;">
        </div>
    </div>
</div>