<div class="list-selection-wrapper">
  <button class="local-settings-button" mat-icon-button mat-mini-fab color="none" (click)="openListSettings()">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let entry of filterList" [expanded]="entry.expanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span *ngIf="!entry.selectedFilter">
            {{'list-selection.select-a-filter' | translate}}
          </span>
          <span *ngIf="entry.selectedFilter">
            <helgoland-common-parameter-type-label [filter]="entry.selectedFilter">
            </helgoland-common-parameter-type-label>
          </span>
          <span *ngIf="entry?.selectedItem">
            : {{entry?.selectedItem?.label}}
          </span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="filter-selection">
        <mat-button-toggle-group>
          <mat-button-toggle *ngFor="let filter of entry.possibleFilters" value="filter"
            (click)="selectFilter(entry, filter)">
            <helgoland-common-parameter-type-label [filter]="filter"></helgoland-common-parameter-type-label>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div [ngSwitch]="entry.selectedFilter" class="item-list">
        <helgoland-common-parameter-list-selector *ngSwitchCase="'category'" [endpoint]="filterEndpoints.category"
          [filterList]="entry.apiFilter" (onItemSelected)="itemSelected(entry, $event)">
        </helgoland-common-parameter-list-selector>
        <helgoland-common-parameter-list-selector *ngSwitchCase="'feature'" [endpoint]="filterEndpoints.feature"
          [filterList]="entry.apiFilter" (onItemSelected)="itemSelected(entry, $event)">
        </helgoland-common-parameter-list-selector>
        <helgoland-common-parameter-list-selector *ngSwitchCase="'phenomenon'" [endpoint]="filterEndpoints.phenomenon"
          [filterList]="entry.apiFilter" (onItemSelected)="itemSelected(entry, $event)">
        </helgoland-common-parameter-list-selector>
        <helgoland-common-parameter-list-selector *ngSwitchCase="'procedure'" [endpoint]="filterEndpoints.procedure"
          [filterList]="entry.apiFilter" (onItemSelected)="itemSelected(entry, $event)">
        </helgoland-common-parameter-list-selector>
        <helgoland-timeseries-list-selector *ngSwitchCase="'timeseries'" [endpoint]="filterEndpoints.dataset"
          [filterList]="entry.apiFilter">
        </helgoland-timeseries-list-selector>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</div>

<mat-toolbar>
  <helgoland-modal-main-config-button></helgoland-modal-main-config-button>
  <div style="flex: 1;"></div>
  <button mat-icon-button (click)="appRouter.toDiagram()">
    <mat-icon [matBadge]="timeseries.datasetIds.length">show_chart</mat-icon>
  </button>
</mat-toolbar>
