.content {
    height: 100%;
    overflow: hidden;
    display: flex;

    .facets {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-width: 400px;

        .facet {
            flex: 1;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            margin: 5px;
            padding: 5px;

            .facet-header {
                display: flex;
                flex-direction: row;

                .autocomplete {
                    margin-left: auto;
                }
            }

            n52-parameter-facet {
                flex: 1;
                overflow: auto;
            }
        }
    }

    .results {
        overflow: hidden;
        display: flex;
        flex: 1;
        flex-direction: column;
        height: 100%;

        .toggle-bar {
            padding: 5px;
            text-align: center;
        }

        .result-content {
            flex: 1;
            overflow: auto;
        }
    }
}