<div>
    <div style="height: 500px; width: 500px;">
        <n52-flot-timeseries-graph [datasetIds]="datasetIds" [datasetOptions]="datasetOptions" [timeInterval]="timespan" [graphOptions]="diagramOptions"
            (onTimespanChanged)="timespanChanged($event)"></n52-flot-timeseries-graph>
    </div>
    <!-- <div style="height: 500px; width: 500px;">
        <n52-flot-timeseries-graph [datasetIds]="datasetIdsOne" [datasetOptions]="datasetOptionsOne" [timeInterval]="timespan" [graphOptions]="diagramOptions"
            (onTimespanChanged)="timespanChanged($event)"></n52-flot-timeseries-graph>
    </div> -->
    <div style="height: 500px; width: 500px;">
        <n52-d3-timeseries-graph [datasetIds]="datasetIdsMultiple" [selectedDatasetIds]="selectedIds" [datasetOptions]="datasetOptionsMultiple"
            [timeInterval]="timespan" (onTimespanChanged)="timespanChanged($event)" (onHighlight)="highlight(false, $event)"
            (offHighlight)="highlight(true, $event)" [graphOptions]="diagramOptionsD3"></n52-d3-timeseries-graph>
    </div>
    <n52-drag-options (onTogglePanZoom)="togglePanZoom()"></n52-drag-options>
    {{panZoom}}
</div>