<h1 mat-dialog-title>{{ 'modal-edit-timeseries-options.title' | translate }}</h1>
<div>

  <div>
    {{ 'modal-edit-timeseries-options.line-width' | translate }}
    <mat-slider class="example-margin" color="primary" [min]="1" [max]="5" [thumbLabel]="true" tickInterval="1"
      [(ngModel)]="options.lineWidth">
    </mat-slider>
  </div>

  <div>
    {{ 'modal-edit-timeseries-options.point-radius' | translate }}
    <mat-slider class="example-margin" color="primary" [min]="1" [max]="5" [thumbLabel]="true" tickInterval="1"
      [(ngModel)]="options.pointRadius">
    </mat-slider>
  </div>

  <p>
    <mat-slide-toggle [(ngModel)]="options.generalize" color="primary">
      {{ 'modal-edit-timeseries-options.generalizeData' | translate }}
    </mat-slide-toggle>
  </p>

  <p>
    <mat-slide-toggle [(ngModel)]="options.zeroBasedYAxis" color="primary">
      {{ 'modal-edit-timeseries-options.null-based' | translate }}
    </mat-slide-toggle>
  </p>

  <div>
    {{ 'modal-edit-timeseries-options.adjust-color' | translate }}
    <button mat-raised-button [colorPicker]="options.color" (colorPickerSelect)="confirmColor($event)"
      [cpOKButton]="true" [cpOKButtonText]="'modal-edit-timeseries-options.adjust-color-confirm-button' | translate"
      [cpOKButtonClass]="'mat-focus-indicator mat-raised-button mat-button-base'"
      [ngStyle]="{'background-color': options.color}">&nbsp;</button>
  </div>

  <p>
    <helgoland-timeseries-symbol-select [options]="options" (selectedSymbol)="changeSymbol($event)"></helgoland-timeseries-symbol-select>
  </p>

</div>
<div mat-dialog-actions>
  <div style="flex: 1"></div>
  <button mat-raised-button mat-dialog-close cdkFocusInitial>{{'controls.close' | translate}}</button>
</div>
