<h1 mat-dialog-title>{{ 'modal-edit-timeseries-options.title' | translate }}</h1>
<div>

  <div>
    {{ 'modal-edit-timeseries-options.line-width' | translate }}
    <mat-slider class="example-margin" [min]="1" [max]="5" [thumbLabel]="true" tickInterval="1"
      [(ngModel)]="options.lineWidth">
    </mat-slider>
  </div>

  <div>
    {{ 'modal-edit-timeseries-options.point-radius' | translate }}
    <mat-slider class="example-margin" [min]="1" [max]="5" [thumbLabel]="true" tickInterval="1"
      [(ngModel)]="options.pointRadius">
    </mat-slider>
  </div>

  <p>
    <mat-slide-toggle [(ngModel)]="options.generalize" color="primary">
      {{ 'modal-edit-timeseries-options.generalizeData' | translate }}
    </mat-slide-toggle>
  </p>

  <p>
    <mat-slide-toggle [(ngModel)]="options.zeroBasedYAxis" color="primary">
      {{ 'modal-edit-timeseries-options.null-based' | translate }}
    </mat-slide-toggle>
  </p>

  <div>
    <mat-form-field>
      <input matInput [ngxMatColorPicker]="picker" [formControl]="colorCtr">
      <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
      <ngx-mat-color-picker #picker></ngx-mat-color-picker>
    </mat-form-field>
    <button mat-icon-button (click)="confirmColor()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>

</div>
<div mat-dialog-actions>
  <div style="flex: 1"></div>
  <button mat-raised-button mat-dialog-close cdkFocusInitial>{{'controls.close' | translate}}</button>
</div>
