<h1 mat-dialog-title>{{ 'map-config.title' | translate }}</h1>
<mat-dialog-content>

  <mat-slide-toggle [checked]="mapConfig.cluster" (change)="mapConfig.cluster = $event.checked">
    {{ 'map-config.cluster-marker' | translate }}
  </mat-slide-toggle>

  <div class="full-height">
    <helgoland-toolbox-service-list-selector [datasetApiList]="datasetApis"
      [selectedService]="mapConfig.selectedService" [supportStations]="true"
      (onServiceSelected)="serviceSelected($event)"></helgoland-toolbox-service-list-selector>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <div style="flex: 1"></div>
  <button mat-raised-button [mat-dialog-close]="mapConfig" cdkFocusInitial>{{'controls.ok' | translate}}</button>
</mat-dialog-actions>
