<div>
  <div style="display: flex; flex-direction: row;">
    <div style="width: 500px; padding: 5px;">
      <div style="height: 500px;">
        <n52-geometry-map-viewer [mapOptions]="mapOptions" [fitBounds]="fitBounds" [layerControlOptions]="layerControlOptions" [zoomControlOptions]="zoomControlOptions"
          [overlayMaps]="overlayMaps" [baseMaps]="baseMaps" mapId="map-view"></n52-geometry-map-viewer>
      </div>
    </div>
  </div>
  <div>
    <n52-geosearch-control mapId="map-view" [options]="searchOptions"></n52-geosearch-control>
    <n52-extent-control mapId="map-view" [extent]="fitBounds"></n52-extent-control>
    <n52-locate-control mapId="map-view"></n52-locate-control>
    <div>
      <button (click)="addOverlayMapLayer();">Add Map Layer</button>
      <button (click)="removeOverlayMapLayer();">Remove Map Layer</button>
    </div>
  </div>
</div>
