<div style="padding: 10px;">
  <div>
    <mat-form-field>
      <input matInput placeholder="Export Title" [(ngModel)]="title">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput type="number" placeholder="Height" [(ngModel)]="height">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput type="number" placeholder="Width" [(ngModel)]="width">
    </mat-form-field>
  </div>
  <label id="example-radio-group-label">Select a format</label>
  <mat-radio-group aria-labelledby="example-radio-group-label"
    style="display: flex; flex-direction: column; margin: 15px 0;" [(ngModel)]="format">
    <mat-radio-button value="svg">SVG</mat-radio-button>
    <mat-radio-button value="png">PNG</mat-radio-button>
  </mat-radio-group>
  <div>
    <mat-form-field>
      <input matInput type="date" placeholder="Starttime" [ngModel]="start | date:'yyyy-MM-dd'"
        (ngModelChange)="setStart($event)">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput type="date" placeholder="Endtime" [ngModel]="end | date:'yyyy-MM-dd'"
        (ngModelChange)="setEnd($event)">
    </mat-form-field>
  </div>
  @for (id of datasetIds; track id) {
  <div>
    <n52-no-data-entry [datasetId]="id" [timeInterval]="timespan"></n52-no-data-entry>
  </div>
  }
  @if (timespan) {
  <div>
    <n52-export-image-button [title]="title" [datasetOptions]="datasetOptions" [datasetIds]="datasetIds"
      [height]="height" [width]="width" [timespan]="timespan" [showLegend]="true" [exportType]="format"
      [showFirstLastDate]="true">
    </n52-export-image-button>
  </div>
  }
</div>
