<div>
  <div style="display: flex; flex-direction: row;">
    <div style="width: 500px; padding: 5px;">
      <div style="height: 500px;">
        <n52-geometry-map-viewer [mapOptions]="mapOptions" [fitBounds]="fitBounds"
          [layerControlOptions]="layerControlOptions" [zoomControlOptions]="zoomControlOptions"
          [overlayMaps]="overlayMaps" [baseMaps]="baseMaps" mapId="map-view"></n52-geometry-map-viewer>
      </div>
    </div>
    <div>
      @for (layer of overlayMaps | keyvalue; track layer) {
      <div>
        Layername: {{layer.value.label}}
        <div>
          <n52-layer-visible-toggler [layeroptions]="layer.value" mapId="map-view"></n52-layer-visible-toggler>
        </div>
        <div>
          <n52-layer-opacity-slider [layeroptions]="layer.value" mapId="map-view"></n52-layer-opacity-slider>
        </div>
      </div>
      }
    </div>
  </div>
  @if (zoomLevel) {
  <div>Zoomlevel: {{zoomLevel}}</div>
  }
  @if (bounds) {
  <div>North: {{bounds.getNorth()|number:'1.3-3'}}, East: {{bounds.getEast()|number:'1.3-3'}}, South:
    {{bounds.getSouth()|number:'1.3-3'}},
    West: {{bounds.getWest()|number:'1.3-3'}}</div>
  }
  <div>
    <n52-geosearch-control mapId="map-view" [options]="searchOptions"></n52-geosearch-control>
    <n52-extent-control mapId="map-view" [extent]="fitBounds"></n52-extent-control>
    <n52-locate-control mapId="map-view"></n52-locate-control>
    <div>
      <button (click)="addOverlayMapLayer();">Add Map Layer</button>
      <button (click)="removeOverlayMapLayer();">Remove Map Layer</button>
    </div>
  </div>
</div>
