<div>
  <div style="height: 500px;">
    <n52-station-map-selector [mapId]="'timeseries'" [serviceUrl]="providerUrl" [filter]="stationFilter" [zoomControlOptions]="zoomControlOptions"
      [fitBounds]="fitBounds" [avoidZoomToSelection]="avoidZoomToSelection" [baseMaps]="baseMaps" [overlayMaps]="overlayMaps"
      [layerControlOptions]="layerControlOptions" (onSelected)="onStationSelected($event)" [cluster]="cluster" (onContentLoading)="loadingStations = $event"></n52-station-map-selector>
  </div>
  <div>Is loading: {{loadingStations}}</div>
  <n52-geosearch-control mapId="timeseries" [options]="searchOptions"></n52-geosearch-control>
  <n52-extent-control mapId="timeseries" [extent]="fitBounds"></n52-extent-control>
  <n52-locate-control mapId="timeseries"></n52-locate-control>
  <div>
    <button (click)="cluster = !cluster;">Toggle cluster</button>
    <span *ngIf="cluster">clustering active</span>
  </div>
  <div>
    <button (click)="switchProvider();">Switch Provider</button>
  </div>
  <div>
    <button (click)="addOverlayMapLayer();">Add Map Layer</button>
    <button (click)="removeOverlayMapLayer();">Remove Map Layer</button>
  </div>
  <div>
    <button (click)="showZoomControlsLeft();">Show Zoom Controls Left</button>
    <button (click)="showZoomControlsRight();">Show Zoom Controls Right</button>
  </div>
</div>
