<div>
  <div style="height: 500px;">
    <n52-station-map-selector [mapId]="'timeseries'" [serviceUrl]="providerUrl" [filter]="stationFilter" [mapOptions]="mapOptions"
      (onSelected)="onStationSelected($event)" [cluster]="cluster" (onContentLoading)="loading = $event"></n52-station-map-selector>
  </div>
  <div>Is loading: {{loading}}</div>
  <n52-geosearch-control [mapId]="'timeseries'"></n52-geosearch-control>
  <n52-extent-control mapId="timeseries" [extent]="mapOptions.fitBounds"></n52-extent-control>
  <n52-locate-control mapId="timeseries"></n52-locate-control>
  <div>
    <button (click)="cluster = !cluster;">Toggle cluster</button>
    <span *ngIf="cluster">clustering active</span>
  </div>
  <div>
    <button (click)="switchProvider();">Switch Provider</button>
  </div>
</div>
