<div>
  <div style="height: 500px;">
    <n52-station-map-selector [mapId]="'timeseries'" [serviceUrl]="providerUrl" [filter]="stationFilter" [mapOptions]="mapOptions"
      (onSelected)="onStationSelected($event)" [cluster]="true" (onContentLoading)="loading = $event"></n52-station-map-selector>
  </div>
  <div>Is loading: {{loading}}</div>
  <n52-geosearch-control [mapId]="'timeseries'"></n52-geosearch-control>
  <n52-locate-control mapId="timeseries"></n52-locate-control>
  <button (click)="switchProvider();">Switch Provider</button>
</div>
