<div style="height: 500px;">
  <n52-d3-timeseries-graph [datasetIds]="datasetIds" [selectedDatasetIds]="selectedIds" [datasetOptions]="datasetOptions"
    [timeInterval]="timespan" [presenterOptions]="d3diagramOptions" [reloadForDatasets]="reloadForDatasets"
    (onTimespanChanged)="timespanChanged($event)" (onDatasetSelected)="setSelected($event)" (onContentLoading)="onGraphLoading($event)"
    (onHighlightChanged)="highlightChanged($event)" (onClickDataPoint)="clickedDataPoint($event)" #diagram></n52-d3-timeseries-graph>
</div>
<div>
  Loading Graph: {{graphLoading}}
</div>
<div style="height: 200px;">
  <n52-d3-overview-timeseries-graph [datasetIds]="datasetIds" [rangefactor]="2" [datasetOptions]="datasetOptions"
    [presenterOptions]="d3overviewOptions" [reloadForDatasets]="reloadForDatasets" [timeInterval]="timespan"
    (onTimespanChanged)="timespanChanged($event)" (onContentLoading)="onOverviewLoading($event)"></n52-d3-overview-timeseries-graph>
</div>
<div>
  Loading Overview: {{overviewLoading}}
</div>
<div>
  <div>
    <button (click)="showPopup()">show popup</button>
    <button (click)="groupYaxisChanged()">group axis</button>
    {{d3diagramOptions.groupYaxis}}

    <button (click)="changeHovering('point')">point</button>
    <button (click)="changeHovering('line')">line</button>
    {{highlightedTime}}

    <n52-axes-options (onChangeYAxesVisibility)="changeYAxesVisibility()"></n52-axes-options>
    <n52-timespan-shift-selector [timespan]="timespan" (onTimespanChange)="timespanChanged($event)"></n52-timespan-shift-selector>
    <button (click)="refreshData()">reload Data</button>
  </div>

  <div>
    Complex legend:
    <div *ngFor="let id of datasetIds">
      <n52-timeseries-entry [datasetId]="id" [selected]="isSelected(id)" [highlight]="id === highlightId"
        [datasetOptions]="datasetOptions.get(id)" [timeInterval]="timespan" (onDeleteDataset)="deleteTimeseries(id)"
        (onSelectDataset)="selectTimeseries($event, id)" (onUpdateOptions)="updateOptions($event, id)" (onEditOptions)="editOption($event)"
        (onShowGeometry)="showGeometry($event)" (onSelectDate)="dateChanged($event)"></n52-timeseries-entry>
    </div>
  </div>

  <div>
    First last entries legend:
    <div *ngFor="let id of datasetIds">
      <n52-first-latest-timeseries-entry [datasetId]="id" [selected]="isSelected(id)" [datasetOptions]="datasetOptions.get(id)"
        [timeInterval]="timespan" (onDeleteDataset)="deleteTimeseries(id)" (onSelectDataset)="selectTimeseries($event, id)"
        (onUpdateOptions)="updateOptions($event, id)" (onEditOptions)="editOption($event)" (onShowGeometry)="showGeometry($event)"
        (onSelectDate)="dateChanged($event)"></n52-first-latest-timeseries-entry>
    </div>
  </div>

  <div>
    Configurable legend:
    <div *ngFor="let id of datasetIds">
      <n52-configurable-timeseries-entry [datasetId]="id" [selected]="isSelected(id)" [datasetOptions]="datasetOptions.get(id)"
        (onDeleteDataset)="deleteTimeseries(id)" (onSelectDataset)="selectTimeseries($event, id)" (onUpdateOptions)="updateOptions($event, id)"
        (onEditOptions)="editOption($event)" (onShowGeometry)="showGeometry($event)"></n52-configurable-timeseries-entry>
    </div>
  </div>

  <div>
    Simple legend:
    <div *ngFor="let id of datasetIds">
      <n52-simple-timeseries-entry [datasetId]="id" [selected]="isSelected(id)" (onDeleteDataset)="deleteTimeseries(id)"
        (onSelectDataset)="selectTimeseries($event, id)"></n52-simple-timeseries-entry>
    </div>
  </div>

</div>