:host {
    .mat-mdc-card {
        padding: 10px;

        .fav-title {
            display: flex;
            align-items: center;
        }

        .fav-additional {
            font-size: 80%;
            color: grey;
        }

        .fav-actions {
            display: flex;
        }
    }
}