<h1 mat-dialog-title>{{'favorites.title' | translate}}</h1>
<div style="max-height: 50vh; overflow: auto;">

  <mat-card *ngFor="let item of singles" style="margin-bottom: 10px;">
    <div *ngIf="!item.editMode" class="fav-title">
      <span style="flex: 1;">{{item.label}}</span>
      <button mat-icon-button (click)="item.editMode = true">
        <mat-icon>create</mat-icon>
      </button>
    </div>
    <div *ngIf="item.editMode" class="fav-title">
      <helgoland-edit-label [label]="item.label" (labelChanged)="setFavLabel(item, $event); item.editMode = false;">
      </helgoland-edit-label>
    </div>
    <div class="fav-additional">
      {{item.description.phenomenonLabel}} - {{item.description.platformLabel}}
    </div>
    <div class="fav-actions">
      <button mat-icon-button (click)="deleteFav(item)"
        matTooltip="{{'favorites.single-favorite.remove-from-list' | translate}}"
        attr.aria-label="{{'favorites.single-favorite.remove-from-list' | translate}}">
        <mat-icon>delete</mat-icon>
      </button>
      <div style="flex: 1"></div>
      <button mat-button (click)="addSingleToDiagram(item)">
        {{'favorites.single-favorite.add-to-diagram' | translate}}
      </button>
    </div>
  </mat-card>

</div>
<div mat-dialog-actions>
  <div style="flex: 1"></div>
  <button mat-raised-button mat-dialog-close>{{'controls.close' | translate}}</button>
</div>
