/* You can add global styles to this file, and also import other style files */
@import '~leaflet/dist/leaflet.css';
@import '~leaflet.markercluster/dist/MarkerCluster.Default.css';
@import './variables.scss';
@import './themes.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-container {
    background-color: #f5f5f5;
}

button.local-settings-button {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1000;
}

@media only screen and (max-width: $mobile-width) {
    .desktop-only {
        display: none !important;
    }
}

@media only screen and (min-width: $mobile-width) {
    .mobile-only {
        display: none !important;
    }
}
