mat-expansion-panel {
    border-radius: 0px !important;
    border-right: 5px solid;

    mat-expansion-panel-header {
        height: min-content;
    }

    mat-panel-title {
        display: flex;
        flex: 1;
        align-items: center;
        padding: 0.5em 0;

        .title {

            span:first-of-type {
                line-break: anywhere;
            }

            &.noData {
                color: lightgray;
            }

            &.error {
                color: lightcoral;
            }
        }
    }

    .small-label {
        font-size: 90%;
    }

    .entry-line {
        &.clickable {
            :hover {
                cursor: pointer;
            }
        }
    }

    mat-slide-toggle {
        margin: 5px 0;
    }
}