<div style="height: 500px;">
  <n52-d3-series-graph [datasets]="datasets" [timespan]="timespan" [graphOptions]="plotOptions"
    (timespanChanged)="updateTimespan($event)" (datasetsSelected)="onDatasetSelected($event)">
    <n52-d3-graph-copyright [copyright]="copyright"></n52-d3-graph-copyright>
  </n52-d3-series-graph>
</div>

<button mat-button (click)="addNewValue()">Add Value</button>

<button mat-button (click)="zoomTimeframe()">Zoom Timeframe</button>

<button mat-button (click)="loadDataset()">Load Data</button>

<button mat-button (click)="changeStyle()">Change Style</button>

<button mat-button (click)="changePlotOptions()">Change Plot Options</button>
