<div *ngIf="timespan" class="wrapper">
  <div style="flex: 1"></div>
  <button mat-icon-button (click)="back()" matTooltip="{{'time-selection.step-back' | translate}}"
    attr.aria-label="{{'time-selection.step-back' | translate}}">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button mat-button [matMenuTriggerFor]="menu" (menuOpened)="onMenuOpen(picker)" class="desktop-only">
    {{timespan.from | tzDate : 'L LT z'}}
    &nbsp;&ndash;&nbsp;
    {{timespan.to | tzDate : 'L LT z'}}
  </button>
  <button mat-button [matMenuTriggerFor]="menu" (menuOpened)="onMenuOpen(picker)" class="mobile-only">
    <div>{{timespan.from | tzDate : 'L LT z'}}</div>
    <div>{{timespan.to | tzDate : 'L LT z'}}</div>
  </button>
  <button mat-icon-button (click)="forward()" matTooltip="{{'time-selection.step-forward' | translate}}"
    attr.aria-label="{{'time-selection.step-forward' | translate}}">
    <mat-icon>arrow_forward</mat-icon>
  </button>
  <div style="flex: 1"></div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="predefinedRange(LASTHOUR)">
    {{'time-selection.predefined.last-hour' | translate}}
  </button>
  <button mat-menu-item (click)="predefinedRange(TODAY)">
    {{'time-selection.predefined.today' | translate}}
  </button>
  <button mat-menu-item (click)="predefinedRange(YESTERDAY)">
    {{'time-selection.predefined.yesterday' | translate}}
  </button>
  <button mat-menu-item (click)="predefinedRange(TODAY_YESTERDAY)">
    {{'time-selection.predefined.today_yesterday' | translate}}
  </button>
  <button mat-menu-item (click)="predefinedRange(CURRENT_WEEK)">
    {{'time-selection.predefined.current-week' | translate}}
  </button>
  <button mat-menu-item (click)="predefinedRange(LAST_WEEK)">
    {{'time-selection.predefined.last-week' | translate}}
  </button>
  <button mat-menu-item (click)="predefinedRange(CURRENT_MONTH)">
    {{'time-selection.predefined.current-month' | translate}}
  </button>
  <button mat-menu-item (click)="predefinedRange(LAST_MONTH)">
    {{'time-selection.predefined.last-month' | translate}}
  </button>
  <button mat-menu-item (click)="predefinedRange(CURRENT_YEAR)">
    {{'time-selection.predefined.current-year' | translate}}
  </button>
  <button mat-menu-item (click)="predefinedRange(LAST_YEAR)">
    {{'time-selection.predefined.last-year' | translate}}
  </button>
  <mat-divider></mat-divider>
  <mat-form-field appearance="fill">
    <mat-label>{{'time-selection.custom-range' | translate}}</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker" disabled>
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker [disabled]="false"></mat-date-range-picker>
  </mat-form-field>
</mat-menu>
