:host {
  flex: 1;

  /* Start fixed table header */
  tbody, thead tr {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  table {
    display: block;
    border-collapse: collapse;
  }

  thead {
    display:block;
    position: sticky;
    top: 0;
  }
  /* End fixed table header */

  tr {
    /* thin horizontal lines between rows */
    border-bottom: 1px solid gray;

    /* zebra stripes */
    &:nth-child(2n) {
      background-color: #eee;
    }
  }

  th {
    /* darken table head */
    background-color: darkgray;
    cursor: pointer;

    /* highlight sorted column */
    &.sorted-asc, &.sorted-desc {
      background-color: #555;
      color: white;
    }

    /* Display "up" and "down" triangles accordingly */
    &.sorted-asc:after {
      content: "\25B4"; /* up triangle */
      float: right;
    }
    
    &.sorted-desc:after {
      content: "\25BE"; /* down triangle */
      float: right;
    }
  }

  td {
    /* prevents datetime from wrapping in small windows or when there's many columns */
    white-space: nowrap;
  }

  th, td {
    padding: 5px 10px;
  }
}
