<mat-sidenav-container class="example-sidenav-fab-container">
  <mat-sidenav #sidenav mode="side" opened="true">
    <n52-lang-selector [languageList]="languageList"></n52-lang-selector>
    <div style="padding: 3px; width: 200px">
      <n52-timezone-selector></n52-timezone-selector>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/eventing" routerLinkActive="active"
        >Eventing</a
      >
      <a mat-list-item routerLink="/service-selector" routerLinkActive="active"
        >Service Selector</a
      >
      <a mat-list-item routerLink="/map-selector" routerLinkActive="active"
        >Map Selector</a
      >
      <a mat-list-item routerLink="/map-view" routerLinkActive="active"
        >Map View</a
      >
      <a mat-list-item routerLink="/timeseries-graph" routerLinkActive="active"
        >Timeseries Graph</a
      >
      <a
        mat-list-item
        routerLink="/service-filter-selector"
        routerLinkActive="active"
        >Service Filter Selector</a
      >
      <a mat-list-item routerLink="/profile-entry" routerLinkActive="active"
        >Profile Entry</a
      >
      <a mat-list-item routerLink="/graph-legend" routerLinkActive="active"
        >Graph Legend</a
      >
      <a
        mat-list-item
        routerLink="/additional-data-graph"
        routerLinkActive="active"
        >Additional Data Graph</a
      >
      <a mat-list-item routerLink="/favorite" routerLinkActive="active"
        >Favorites</a
      >
      <a mat-list-item routerLink="/time" routerLinkActive="active">Time</a>
      <a mat-list-item routerLink="/trajectory" routerLinkActive="active"
        >Trajectory</a
      >
      <a mat-list-item routerLink="/permalink" routerLinkActive="active"
        >Permalink</a
      >
      <a mat-list-item routerLink="/table" routerLinkActive="active">Table</a>
      <a mat-list-item routerLink="/list-selection" routerLinkActive="active"
        >List Selection</a
      >
      <a mat-list-item routerLink="/ol" routerLinkActive="active"
        >Open Layers</a
      >
      <a mat-list-item routerLink="/diagram-export" routerLinkActive="active"
        >Diagram Export</a
      >
      <a mat-list-item routerLink="/facet-search" routerLinkActive="active"
        >Facet Search</a
      >
      <a mat-list-item routerLink="/sensorml" routerLinkActive="active"
        >SensorML</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <div class="example-scrolling-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
