<mat-menu #addtsMenu="matMenu">
  <button mat-menu-item (click)="appRouter.toMapSelection()">{{'add.timeseries.menu.map' | translate}}</button>
  <button mat-menu-item>{{'add.timeseries.menu.list' | translate}}</button>
</mat-menu>

<mat-sidenav-container class="container">

  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches" position="start">
    <div class="legend">
      <div class="entries">
        <mat-accordion [multi]="true">
          <div *ngFor="let id of datasetIds">
            <helgoland-toolbox-legend-entry [datasetId]="id" [selected]="isSelected(id)"
              [datasetOptions]="datasetOptions.get(id)" [timeInterval]="timeseries.timespan"
              (onDeleteDataset)="deleteTimeseries(id)" (onSelectDataset)="selectTimeseries($event, id)"
              (onSelectDate)="jumpToDate($event)" (onUpdateOptions)="updateOptions($event, id)"
              (onEditOptions)="editOption($event)" (onShowGeometry)="showGeometry($event)">
            </helgoland-toolbox-legend-entry>
          </div>
        </mat-accordion>
      </div>
      <mat-toolbar>
        <mat-toolbar-row>
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
          <button mat-icon-button *ngIf="selectedIds.length > 0" (click)="clearSelection()">
            <mat-icon color="accent">priority_high</mat-icon>
          </button>
          <div style="flex:1;"></div>
          <button mat-mini-fab [matMenuTriggerFor]="addtsMenu" color="accent">
            <mat-icon>add</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <button class="legend-button" *ngIf="mobileQuery.matches" mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="diagram">
      <button class="diagram-settings" mat-mini-fab color="none" (click)="openDiagramSettings()">
        <mat-icon>settings</mat-icon>
      </button>

      <n52-d3-timeseries-graph class="diagram" [datasetIds]="datasetIds" [selectedDatasetIds]="selectedIds"
        [datasetOptions]="datasetOptions" [timeInterval]="timeseries.timespan" [presenterOptions]="d3diagramOptions"
        (onTimespanChanged)="timeseries.timespan = $event" (onDatasetSelected)="setSelected($event)"
        (onContentLoading)="onDiagramLoading($event)" #diagram>
        <n52-d3-y-axis-modifier *ngIf="diagramConfig.yaxisModifier" [zoom]="true" [shift]="true">
        </n52-d3-y-axis-modifier>
      </n52-d3-timeseries-graph>
    </div>

    <div class="overview-diagram" *ngIf="diagramConfig.overviewVisible">
      <n52-d3-overview-timeseries-graph [datasetIds]="datasetIds" [rangefactor]="2" [datasetOptions]="datasetOptions"
        [presenterOptions]="d3overviewOptions" [timeInterval]="timeseries.timespan"
        (onTimespanChanged)="timeseries.timespan = $event" (onContentLoading)="onOverviewLoading($event)">
      </n52-d3-overview-timeseries-graph>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
