:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .header {
    flex: 0;
  }

  .content {
    flex: 1;
    overflow: auto;
  }

  .footer {
    flex: 0;
  }

}