<h1 mat-dialog-title>{{'main-config.title' | translate}}</h1>
<div class="content">

  <p>
    <helgoland-common-language-selector [languageList]="languages"></helgoland-common-language-selector>
  </p>

  <p>
    <helgoland-common-dark-mode-button></helgoland-common-dark-mode-button>
  </p>

  <p>
    <helgoland-clear-storage-button></helgoland-clear-storage-button>
  </p>

  <p>
    <helgoland-common-version-info></helgoland-common-version-info>
  </p>

</div>
<div mat-dialog-actions>
  <div style="flex: 1"></div>
  <button mat-raised-button mat-dialog-close>{{'controls.close' | translate}}</button>
</div>
