<h1 mat-dialog-title>Style options</h1>
<div mat-dialog-content>
  <n52-color-selector [color]="option.color" [colorList]="colorList" (onColorChange)="color = $event"></n52-color-selector>
</div>
<div>
  <mat-checkbox [(ngModel)]="generalize">generalize</mat-checkbox>
</div>
<div>
  <mat-checkbox [(ngModel)]="zeroBasedYAxis">zero based y-axis</mat-checkbox>
</div>
<div>
  <mat-form-field>
    <mat-select [(value)]="pointRadius" placeholder="Point radius">
      <mat-option [value]="0">0px</mat-option>
      <mat-option [value]="1">1px</mat-option>
      <mat-option [value]="2">2px</mat-option>
      <mat-option [value]="3">3px</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <mat-select [(value)]="lineWidth" placeholder="Line width">
      <mat-option [value]="0">0px</mat-option>
      <mat-option [value]="1">1px</mat-option>
      <mat-option [value]="2">2px</mat-option>
      <mat-option [value]="3">3px</mat-option>
      <mat-option [value]="4">4px</mat-option>
      <mat-option [value]="5">5px</mat-option>
    </mat-select>
  </mat-form-field>
  <p>You selected: {{lineWidth}}</p>
</div>
<n52-min-max-range [range]="option.yAxisRange" (onRangeChange)="updateRange($event)"></n52-min-max-range>
<div mat-dialog-actions style="float: right;">
  <button mat-button (click)="onOk()">Ok</button>
</div>
