    <div>
        <button (click)="requestEvents()">Request Events</button>
    </div>
    <div>
        <button (click)="requestSubscriptions()">Request Subscriptions</button>
    </div>
    <div *ngIf="loadingEvents">loading Events</div>
    <div *ngIf="loadingSubscriptions">loading Subscriptions</div>
    <div *ngIf="eventResultsError">{{eventResultsError}}</div>
    <div *ngIf="subscriptionResultsError">{{subscriptionResultsError}}</div>
    <div *ngIf="eventResults">
        <h3> Events </h3>
        <div>
            Limit: {{eventResults.metadata.limit}} - Offset: {{eventResults.metadata.offset}} - Total: {{eventResults.metadata.total}}
        </div>
        <div *ngFor="let item of eventResults.data">
            <div>
                ID: {{item.id}} - Label: {{item.label}} - DataValue: {{item.data?.value}}
            </div>
        </div>
    </div>
    <div *ngIf="subscriptionResults">
        <h3> Subscriptions </h3>
        <div>
            Limit: {{subscriptionResults.metadata.limit}} - Offset: {{subscriptionResults.metadata.offset}} - Total: {{subscriptionResults.metadata.total}}
        </div>
        <div *ngFor="let item of subscriptionResults.data">
            <div>
                ID: {{item.id}} - DeliveryMethod-ID: {{item.deliveryMethod.id}}
            </div>
        </div>
    </div>