<button (click)="requestEvents()">Request Events</button>
<button (click)="requestSubscriptions()">Request Subscriptions</button>
<button (click)="requestPublications()">Request Publications</button>
<button (click)="requestNotifications()">Request Notifications</button>
@if (loading) {
  <div>loading...</div>
}
@if (requestError) {
  <div>{{ requestError }}</div>
}
@if (eventResults) {
  <pre>{{ eventResults | json }}</pre>
}
@if (subscriptionResults) {
  <pre>{{ subscriptionResults | json }}</pre>
}
@if (publicationResults) {
  <pre>{{ publicationResults | json }}</pre>
}
@if (notificationResults) {
  <pre>{{ notificationResults | json }}</pre>
}
