<div style="border: 1px solid grey">
    <h1>ProviderList:</h1>
    <n52-provider-selector [providerList]="['http://www.fluggs.de/sos2/api/v1/']" [supportStations]="true"></n52-provider-selector>
</div>

<div style="border: 1px solid grey">
    <h1>Map-Selector:</h1>
    <div style="height: 500px;">
        <n52-station-map-selector [mapId]="'timeseries'" [serviceUrl]="'http://www.fluggs.de/sos2/api/v1/'" [filter]="stationFilter"
            (onSelected)="onStationSelected($event)" [cluster]="true"></n52-station-map-selector>
    </div>
</div>

<div style="border: 1px solid grey">
    <h1>PlotlyGraph:</h1>
    <div style="height: 500px;">
        <n52-plotly-profile-graph [datasetIds]="profileDatasetIds" [datasetOptions]="profileDatasetOptions" (onDatasetSelected)="timeseriesSelected($event)"
            (onTimespanChanged)="timeChanged($event)"></n52-plotly-profile-graph>
    </div>
</div>

<div style="border: 1px solid grey">
    <h1>FlotGraph:</h1>
    <div style="height: 500px; width: 500px;">
        <n52-flot-timeseries-graph [datasetIds]="datasetIds" [datasetOptions]="datasetOptions" [timeInterval]="timespan" [graphOptions]="diagramOptions"></n52-flot-timeseries-graph>
    </div>
    <div style="height: 500px; width: 500px;">
        <n52-flot-timeseries-graph [datasetIds]="datasetIdsOne" [datasetOptions]="datasetOptionsOne" [timeInterval]="timespan" [graphOptions]="diagramOptions"></n52-flot-timeseries-graph>
    </div>
</div>