/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~leaflet/dist/leaflet.css';
@import '~leaflet.markercluster/dist/MarkerCluster.Default.css';
@import '~font-awesome/css/font-awesome.css';

nav {
  margin-top: 16px;
}

nav a {
  background-color: $nav-button-color;
  color: white;
  padding: 8px 16px;
  margin: 8px;
  vertical-align: middle;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
}

#tooltip {
  background-color: white;
  position: absolute;
  z-index: 9999;
  display: none;
}

#helgoland-notifier {
  width: 250px;
  margin-left: -133px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#helgoland-notifier.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

#helgoland-notifier.hide {
  animation: fadeout 0.5s forwards;
}

@-webkit-keyframes fadein {
  from {
      bottom: 0;
      opacity: 0;
  }
  to {
      bottom: 30px;
      opacity: 1;
  }
}

@keyframes fadein {
  from {
      bottom: 0;
      opacity: 0;
  }
  to {
      bottom: 30px;
      opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
      bottom: 30px;
      opacity: 1;
  }
  to {
      visibility: hidden;
      bottom: 0;
      opacity: 0;
  }
}

@keyframes fadeout {
  from {
      bottom: 30px;
      opacity: 1;
  }
  to {
      visibility: hidden;
      bottom: 0;
      opacity: 0;
  }
}